.parent {
  height: 400px;
  width: 400px;
  background-color: hsla(200, 100%, 20%);
}

.child {
  height: 50%;
  width: 50%;
  background-color: red;
}

.parent:hover .child {
  animation: left-to-right 1s ease-in forwards 3 alternate 3s;
}

@keyframes left-to-right {
  0% {
    transform: translateX(0);
  }
  33% {
    transform: translateY(100%);
  }
  66% {
    transform: translatex(100%) translateY(100%);
  }
  100% {
    transform: translateX(100%);
  }
}
